.blog-posts .submit-comment textarea {
    text-transform: none !important;
}
.submit-reply textarea {
    width: 100%;
    height: 46px;
    border: 1px solid #eee;
    font-size: 13px;
    text-transform: none !important;
    font-weight: 500;
    color: #7a7a7a;
    outline: none;
    padding: 10px 15px;
    margin-bottom: 30px;
    height: 180px;
    max-height: 220px;
    max-width: 100%;
    min-width: 160px;
}
.reply-button {
    display: inline-block;
    background-color: #f48840;
    color: #fff;
    font-size: 13px;
    font-weight: 500;
    padding: 12px 20px;
    text-transform: uppercase;
    transition: all .3s;
    border: none;
    outline: none;
}
.empty-heart {
    color: #CDCDCD !important; 
}
.fa-heart {
    color: red; 
}
.btn-primary {
    color: #fff;
    background-color: #f48840 !important;
    border: none !important;
}
.btn-all {
    display: inline-block;
    background-color: #f48840;
    color: #fff;
    font-size: 13px;
    font-weight: 500;
    padding: 12px 20px;
    text-transform: uppercase;
    transition: all .3s;
    border: none;
    outline: none;
}
.errorlist {
    color: red !important;
    padding-bottom: 10px !important;
}
.contact-us .contact-form input {
    margin-bottom: 10px !important;
}
input, textarea{
    text-transform: none !important;
}
.profile-picture{
    max-width: 100%;
    height: 200px;
    width: 200px;
}
.search-form {
    justify-content: center;
}
